*.pyc

.idea
src/.cache
src/.ipynb_checkpoints
src/__pycache__

dataset/energy
experiment/energy

*checkpoints

# permission for resume exp checkpoints
!experiment/finance_cnn/resume_exp/checkpoints/
!experiment/finance_cnn/resume_exp/checkpoints/*
