experiment/*
experiments/*
input/energy/*
input/MNIST/*
input/nyc_taxi/*
src/libs/*
projects/*

*.pyc
*.pth
*.idea
*.pickle
*.jpg
*.jpeg
*.gif
src/libs/PyTorchWavelets/
*.npy
*.egg
*.h5
*.lock
*.dirlock
