certifi==2018.10.15
cffi==1.11.5
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==3.0.1
mkl-fft==1.0.6
mkl-random==1.0.1
numpy==1.15.3
pandas==0.23.4
Pillow==5.3.0
protobuf==3.6.1
pycparser==2.19
pyparsing==2.2.2
python-dateutil==2.7.3
pytz==2018.5
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
statsmodels==0.9.0
TA-Lib==0.4.17
tensorboardX==1.4
torch==0.4.1
torchvision==0.2.1
tornado==5.1.1
tqdm==4.28.1
wincertstore==0.2
